.schedule-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.schedule-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.schedule-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tr:hover {
  background-color: #e9e9e9;
}

.schedule-table td:first-child {
  font-weight: bold;
  text-align: left;
}

@media (max-width: 890px) {
  .schedule-table th,
  .schedule-table td {
      padding: 8px;
      font-size: 0.9rem;
  }

  .schedule-container h3 {
      font-size: 1.25rem;
  }
  
  .schedule-table tr {
      display: block;
      border-bottom: 1px solid #ddd;
  }
  
  .schedule-table td {
      display: block;
      text-align: left;
      padding: 5px 10px;
      border-bottom: 1px solid #ddd;
  }
  
  .schedule-table th {
      display: none;
  }
}